.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 450px;
  border-radius: 5px;
  font-family: Abhaya Libre, serif;
  font-size: 25px;
}

.author {
  text-align: end;
  width: 400px;
  margin: 20px 0;
}

.button {
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}
.icon {
  width: 40px;
  height: 40px;
  padding: 0 5px;
}
.icon2 {
  width: 40px;
  height: 40px;
  padding: 0 5px;
}
.comands {
  display: flex;
  align-items: center;
}
.socialMedia {
  height: 40px;
}
